.alert {
    border: 1px solid $black;
    padding: $lg;
    margin: $lg 0;
    border-radius: $sm;

    &__text {
        margin: 0;
    }

    &--header {
        border: none;
        margin: 0;
        border-radius: 0;
    }
}