.bg {
    &-light-gray {
        background: #E5E5E5;
    }
    &-soft-red {
        background: $soft-red;
    }
    &-red {
        background: $red;
    }
    &--green {
        background: $green !important;
        border: 1px solid $green !important;
    }
}
