.checkbox {
    @include inputContainer;

    &.is-aaa {
        @include inputFontSize;
    }

    &__default {
        @include inputDefault;
    }

    &__box {
        @include input;

        &:focus {
            ~.checkbox__box-icon {
                border:1px solid $black;
            }
        }

        &-icon {
            @include inputIcon;

            &:after {
                @include inputIconPseudo;

                .is-aaa & {
                    height: 18px;
                    width: 18px;
                }
            }

            .is-aaa & {
                height: 44px;
                width: 44px;
            }
        }

        &:checked {
            ~ .checkbox__box-icon {
                background-color: #6B80B3;

                &:after {
                    display: block;
                }
            }
        }
    }

    &:hover {
        border: 1px solid $black;
    }
}