.is-bold {
    font-weight: $bold;
}
.color-light {
    color: $white;
}
.color-dark {
    color: $black;
}
.text-center {
    text-align: center;
}
.is-box {
    border-radius: 0 !important;
}

.is-fixed {
    &-top {
        top: 0;
        position: fixed;
        width: 100%;
    }
    &-btm {
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        width: 100%;
    }
}

.is {
    &-25 {
        width: 25%;
    }
    &-50 {
        width: 50%;
    }
    &-75 {
        width: 75%;
    }
}