//media queries
@mixin min-xs {
    @media (min-width: $screen-xs) {
        @content;
    }
}
@mixin min-sm {
    @media (min-width: $screen-sm) {
        @content;
    }
}
@mixin min-md {
    @media (min-width: $screen-md) {
        @content;
    }
}
@mixin min-lg {
    @media (min-width: $screen-lg) {
        @content;
    }
}
@mixin min-xl {
    @media (min-width: $screen-xl) {
        @content;
    }
}
@mixin min-lt {
    @media (min-width: $screen-xl) {
        @content;
    }
}
@mixin min-xxl {
    @media (min-width: $screen-xxl) {
        @content;
    }
}
@mixin min-3xl {
    @media (min-width: $screen-3xl) {
        @content;
    }
}

//laptop screens
@mixin min-laptop {
    @media (max-width: $screen-lt) and (max-height: $screen-md) {
        @content;
    }
}

//input styles
@mixin inputContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    margin-bottom: $md;
    border: 1px solid transparent;
}

@mixin inputDefault {
    -ms-transform: scale(1.75); /* IE 9 */
    -webkit-transform: scale(1.75); /* Chrome, Safari, Opera */
    transform: scale(1.75);
    margin-right: $sm;
}

@mixin input {
    position: absolute;
    opacity: 0;
}

@mixin inputIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    margin-right: $sm;
    border:1px solid transparent;
    background-color: #eee;

    i {
        display: none;
    }
}

@mixin inputIconPseudo {
    content: "";
    display: none;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: $white;
}