.m-xs {
    margin: $xs;
}

.p-xs {
    padding: $xs;
}

.mt-sm {
    margin: $sm 0 0 0;
}

.mt-md {
    margin: $md 0 0 0;
}

.mt-lg {
    margin: $lg 0 0 0;
}

.mb-lg {
    margin: 0 0 $lg 0;
}

.mb-xl {
    margin: 0 0 $xl 0;
}

.spacer {
    padding: 2rem 0;
}