.m {
    &-xs {
        margin: $xs;
    }
    &-sm {
        margin: $sm;
    }
    &-md {
        margin: $md;
    }
    &-lg {
        margin: $lg;
    }
    &-xl {
        margin: $xl;
    }
    &-xxl {
        margin: $xxl;
    }
}
.p {
    &-xs {
        padding: $xs;
    }
    &-sm {
        padding: $sm;
    }
    &-md {
        padding: $md;
    }
    &-lg {
        padding: $lg;
    }
    &-xl {
        padding: $xl;
    }
    &-xxl {
        padding: $xxl;
    }
}

.mt {
    &-xs {
        margin-top: $xs;
    }
    &-sm {
        margin-top: $sm;
    }
    &-md {
        margin-top: $md;
    }
    &-lg {
        margin-top: $lg;
    }
    &-xl {
        margin-top: $xl;
    }
    &-xxl {
        margin-top: $xxl;
    }
}

.mb {
    &-xs {
        margin-bottom: $xs;
    }
    &-sm {
        margin-bottom: $sm;
    }
    &-md {
        margin-bottom: $md;
    }
    &-lg {
        margin-bottom: $lg;
    }
    &-xl {
        margin-bottom: $xl;
    }
    &-xxl {
        margin-bottom: $xxl;
    }
}

.ml {
    &-xs {
        margin-left: $xs;
    }
    &-sm {
        margin-left: $sm;
    }
    &-md {
        margin-left: $md;
    }
    &-lg {
        margin-left: $lg;
    }
    &-xl {
        margin-left: $xl;
    }
    &-xxl {
        margin-left: $xxl;
    }
}

.mr {
    &-xs {
        margin-right: $xs;
    }
    &-sm {
        margin-right: $sm;
    }
    &-md {
        margin-right: $md;
    }
    &-lg {
        margin-right: $lg;
    }
    &-xl {
        margin-right: $xl;
    }
    &-xxl {
        margin-right: $xxl;
    }
}

.spacer {
    padding: 3rem 0;
}