// brand colors
$white: #ffffff;
$black: #000000;

//form colors
$outline: #8F8F8F;


//spacing
$xs: .25rem;
$sm: .5rem;
$med: .75rem;
$lg: 1rem;
$xl: 1.5rem;
$xxl: 2rem;

//screen sizes
$screen-xs: 320px;
$screen-sm: 600px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-lt: 1366px;
$screen-xxl: 1440px;
$screen-3xl: 1800px;
